.jumbotron {
    background-color: beige;
    color:black;
    margin-top: 50px;
    height: 120px;
    align-items: center;
    display: flex;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: beige;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.breadcrumb {
    background-color: rgb(228, 227, 227);
    height: 35px;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.footer-icon {
    padding-right: 10px;
}