.jumbotron {
  background-color: #F9E4B7;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 120px;
  align-items: center;
  display: flex; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #F9E4B7;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-left: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.breadcrumb {
  background-color: #e4e3e3;
  height: 35px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
